<nav>
  <div class="site-title">
    <a href="/"><h1>My Program</h1></a>
  </div>
  <ul>
    <li>
      <a href="/">Lessons</a>
    </li>
    <li>
      <a href="/dersekle">Add Lessons</a>
    </li>
    <li>
      <a href="/notes">Notes Taken</a>
    </li>
  </ul>
</nav>
