<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs")%>
  <body>
    <%- include("./partials/nav.ejs")%>
    <div class="hata content">
      <h3>Sayfa Bulunamadı!</h3>
    </div>
  </body>
</html>
