<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs")%>
  <body>
    <%- include("./partials/nav.ejs")%>
    <div class="hakkimda content">
      <h2>Notes I wrote in physics class yesterday</h2>
      <p>
        Physics, science that deals with the structure of matter and the
        interactions between the fundamental constituents of the observable
        universe. In the broadest sense, physics (from the Greek physikos) is
        concerned with all aspects of nature on both the macroscopic and
        submicroscopic levels. Its scope of study encompasses not only the
        behaviour of objects under the action of given forces but also the
        nature and origin of gravitational, electromagnetic, and nuclear force
        fields. Its ultimate objective is the formulation of a few comprehensive
        principles that bring together and explain all such disparate phenomena.
      </p>
      <br />
      <hr />
      <br />
      <h2>Mathematics questions taught by the teacher</h2>
      <p>
        Mathematics, the science of structure, order, and relation that has
        evolved from elemental practices of counting, measuring, and describing
        the shapes of objects. It deals with logical reasoning and quantitative
        calculation, and its development has involved an increasing degree of
        idealization and abstraction of its subject matter. Since the 17th
        century, mathematics has been an indispensable adjunct to the physical
        sciences and technology, and in more recent times it has assumed a
        similar role in the quantitative aspects of the life sciences. In many
        cultures—under the stimulus of the needs of practical pursuits, such as
        commerce and agriculture—mathematics has developed far beyond basic
        counting. This growth has been greatest in societies complex enough to
        sustain these activities and to provide leisure for contemplation and
        the opportunity to build on the achievements of earlier mathematicians.
      </p>
    </div>
  </body>
</html>
